* {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #641E16;
}

header.border-bottom {
    border-bottom-width: 1px !important;
    border-color: #641E16 !important;
}

video {
    border-radius: 10px;
    background-color: gray;
}

#main-stream-container {
    display: none;
}

.connection-container {
    display: block;
}

input[type="text"] {
    border: 1px solid #641E16;
}

button#btn-send-msg,
button#btn-join {
    background-color: #641E16 !important;
    color: #f8f9fa !important;
}

button#btn-send-msg:hover,
button#btn-join:hover {
    background-color: #f8f9fa !important;
    border-color: #641E16;
    color: #641E16 !important;
    transition-duration: 200ms;
}

.fullscreen-btn:hover {
    background-color: #c9c9c9 !important;
    font-size: larger;
    transition-duration: 300ms;
}

footer {
    color: #3B0800;
    background: linear-gradient(to bottom, #ffab7e 0%, #4A1700 100%);
    border: 1px solid #3B0800;
    text-shadow: 0 1px 0 #ad4913;
    box-shadow: inset 0 1px 0 #96451a;
}

.red-button {
    background-color: red;
    border: 2px solid maroon;
    width: 50px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    border-radius: 25px;
}

.green-button {
    background-color: green;
    border: 2px solid darkgreen;
    width: 50px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    border-radius: 25%;
}

.fa-phone-alt{
    transform: rotate(135deg);
}
